<?php
return [
    'settings' => [
        'doctrine' => [
            'connection' => [
                'driver'    => 'pdo_mysql',
                'host'      => '',
                'dbname'    => '',
                'user'      => '',
                'password'  => '',
                'charset'   => 'UTF8'
            ]
        ]
    ]
];
